/* GERAL --------------------------------------------------------------------------------------------------------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --black: #000;
  --white: #fff;

  --navHeight: 8vh;
}

a{
  color: #fff;
  text-decoration: none;

  transition: .8s;
}

a:hover{
  opacity: .7;
}

.col-a {
  flex: 1;
  padding: 20px; 
}

.col-b {
  flex: 1;
  padding: 20px; 
}

section{
  padding-block: 0rem;
  padding-inline: 2rem;
}

section h4{
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: .08rem;
  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2{
  font-size: 3rem;
  line-height: 3.9rem;
}

section p,
section span{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 130%;
}

/* NAVEGAÇÃO ----------------------------------------------------------------------------------------------------------------------------*/

.logo{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #000;

  height: var(--navHeight);
}

.hamburger{
  display: none;

  cursor: pointer;
}

.hamburger div{
  background-color: #fff;

  width: 32px;
  height: 2px;

  margin: 8px;

  transition: .5s;
}

.nav-list{
  list-style: none;

  display: flex;
}

.nav-list.active{
  transform: translateX(0);
}

.nav-list li{
  letter-spacing: 4px;

  margin-left: 32px;
}

.hamburger.active .line-1{
  transform: rotate(-45deg) translate(-8px, 8px);
}

.hamburger.active .line-2{
  opacity: 0;
}

.hamburger.active .line-3{
  transform: rotate(45deg) translate(-5px, -7px);
}

@keyframes NavLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

/* HOME ---------------------------------------------------------------------------------------------------------------------------------*/

#home {
  padding-block: 32px;

  background-color: #fff;

  display: flex;
  align-items: center;
}

#home .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .col-b::before {
  content: '';
  display: block;

  width: 27rem;
  height: 27rem;

  background-color: blue;
  border-radius: 100%;

  position: absolute;
  bottom: 9rem;
  right: 15rem;
  z-index: 0;

  animation: appear 1s 500ms backwards;
}

#home h1 {
  font-size: 4.5rem;
  line-height: 110%;

  margin-bottom: 1rem;
}

#home p {
  display: inline-flex;

  font-size: 1.8rem;
  line-height: 150%;
  font-weight: bold;

  margin-bottom: 3.2rem;
}

#home .line {
  border-right: 0.2rem solid black;
  white-space: nowrap;
  overflow: hidden;
}

#home .typing {
  animation: line-typing 500ms steps(40) infinite normal,
    typing 2s steps(40) 1.4s normal backwards;
}

.button{
  background: none;
  border: .2rem solid black;

 
  padding: 1.4rem 3rem;

  width: fit-content;

  color: green;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  position: relative;
  transition: 400ms;
}

#home .images{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  animation: flutuar 3s infinite backwards;
  position: relative;
}

#home img {
  width: 30rem;
  min-width: 14.5rem;
  display: block;
  margin-inline: auto;
  filter: contrast(1.2);
}

#home img#notebook-1 {
  animation: appear 1s 1s backwards;
}

#home img#notebook-2 {
  position: absolute;
  z-index: 90;
  animation: appear 1s 2s backwards;
}

#home img#vidro {
  position: absolute;
  z-index: 100;
  right: -2rem;
  animation: appear-vidro 1s 2.5s backwards;

  filter: contrast(5);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear-vidro {
  from {
    right: -4rem;
    opacity: 0;
  }
  to {
    right: -2rem;
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 27.5rem;
  }
}

@keyframes line-typing {
  from {
    border-right-color: red;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes flutuar {
  0% {
    transform: translateY(2rem);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(2rem);
  }
}












@media (max-width: 999px){
  body{
    overflow-x: hidden;
  }
  .nav-list{
    position: absolute;
    top: var(--navHeight);
    right: 0;

    width: 50vw;
    height: 90vh;

    background-color: #000;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    transform: translateX(100%);
    transition: transform .3s ease-in;
  }
  .nav-list li{
    margin-left: 0;

    opacity: 0;
  }
  .hamburger{
    display: block;
  }
}